<?xml version="1.0"?>

<config alpha-fade-in="50" alpha-fade-out="50" brightness-fade-in="0" brightness-fade-out="0" brightness-offset="0" order="random">
	<movie src="wigg-island.swf" href="/projects/"/>
	<movie src="wyndham-play-park.swf" href="/projects/"/>
	<movie src="priory-country-park-labyrinth.swf" href="/projects/"/>
	<movie src="adrenalin-alley.swf" href="/projects/"/>
	<movie src="gallows.swf" href="/projects/"/>
	<movie src="norton-disney.swf" href="/projects/"/>
	<movie src="thorpe-hesley.swf" href="/projects/"/>
	<movie src="tipkinder-bmx-park.swf" href="/projects/"/>
	<movie src="weir-doals-centre.swf" href="/projects/"/>
</config>